* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #f6f8fc;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}